
.icon-feather:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-ellipsis:before { content: '\e802'; } /* '' */
.icon-share:before { content: '\e803'; } /* '' */
.icon-star-filled:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-resize-full:before { content: '\e806'; } /* '' */
.icon-bell-alt:before { content: '\e807'; } /* '' */
.icon-hash:before { content: '\e808'; } /* '' */
.icon-arrows-cw:before { content: '\e809'; } /* '' */