@font-face {
 font-family: opensans;
 src:url(../open-sans/OpenSans-Regular.ttf);
}

@font-face {
 font-family: opensans-light;
 src:url(../open-sans/OpenSans-Light.ttf);
}

@font-face {
 font-family: opensans-bold;
 src:url(../open-sans/OpenSans-Bold.ttf);
}